/CosmosDbDataGenerator/bin/Debug/netcoreapp2.1/appsettings.json
/CosmosDbDataGenerator/bin/Debug/netcoreapp2.1/CosmosDbDataGenerator.deps.json
/CosmosDbDataGenerator/bin/Debug/netcoreapp2.1/CosmosDbDataGenerator.dll
/CosmosDbDataGenerator/bin/Debug/netcoreapp2.1/CosmosDbDataGenerator.pdb
/CosmosDbDataGenerator/bin/Debug/netcoreapp2.1/CosmosDbDataGenerator.runtimeconfig.dev.json
/CosmosDbDataGenerator/bin/Debug/netcoreapp2.1/CosmosDbDataGenerator.runtimeconfig.json
/CosmosDbDataGenerator/obj/CosmosDbDataGenerator.csproj.nuget.cache
/CosmosDbDataGenerator/obj/CosmosDbDataGenerator.csproj.nuget.g.props
/CosmosDbDataGenerator/obj/CosmosDbDataGenerator.csproj.nuget.g.targets
/CosmosDbDataGenerator/obj/Debug/netcoreapp2.1/CosmosDbDataGenerator.AssemblyInfo.cs
/CosmosDbDataGenerator/obj/Debug/netcoreapp2.1/CosmosDbDataGenerator.AssemblyInfoInputs.cache
/CosmosDbDataGenerator/obj/Debug/netcoreapp2.1/CosmosDbDataGenerator.assets.cache
/CosmosDbDataGenerator/obj/Debug/netcoreapp2.1/CosmosDbDataGenerator.csproj.CoreCompileInputs.cache
/CosmosDbDataGenerator/obj/Debug/netcoreapp2.1/CosmosDbDataGenerator.csproj.FileListAbsolute.txt
/CosmosDbDataGenerator/obj/Debug/netcoreapp2.1/CosmosDbDataGenerator.csprojAssemblyReference.cache
/CosmosDbDataGenerator/obj/Debug/netcoreapp2.1/CosmosDbDataGenerator.dll
/CosmosDbDataGenerator/obj/Debug/netcoreapp2.1/CosmosDbDataGenerator.pdb
/CosmosDbDataGenerator/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/CosmosDbDataGenerator/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/CosmosDbDataGenerator/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/CosmosDbDataGenerator/obj/project.assets.json
/CosmosDbDataGenerator/CosmosDbDataGenerator.csproj.user
/DbGenerator/bin/Debug/netcoreapp2.1/CosmosDbDataGenerator.deps.json
/DbGenerator/bin/Debug/netcoreapp2.1/CosmosDbDataGenerator.dll
/DbGenerator/bin/Debug/netcoreapp2.1/CosmosDbDataGenerator.pdb
/DbGenerator/bin/Debug/netcoreapp2.1/CosmosDbDataGenerator.runtimeconfig.dev.json
/DbGenerator/bin/Debug/netcoreapp2.1/CosmosDbDataGenerator.runtimeconfig.json
/DbGenerator/bin/Debug/netcoreapp2.1/appsettings.json
/DbGenerator/obj/CosmosDbDataGenerator.csproj.nuget.cache
/DbGenerator/obj/CosmosDbDataGenerator.csproj.nuget.g.props
/DbGenerator/obj/CosmosDbDataGenerator.csproj.nuget.g.targets
/DbGenerator/obj/Debug/netcoreapp2.1/CosmosDbDataGenerator.AssemblyInfo.cs
/DbGenerator/obj/Debug/netcoreapp2.1/CosmosDbDataGenerator.AssemblyInfoInputs.cache
/DbGenerator/obj/Debug/netcoreapp2.1/CosmosDbDataGenerator.assets.cache
/DbGenerator/obj/Debug/netcoreapp2.1/CosmosDbDataGenerator.csproj.CoreCompileInputs.cache
/DbGenerator/obj/Debug/netcoreapp2.1/CosmosDbDataGenerator.csproj.FileListAbsolute.txt
/DbGenerator/obj/Debug/netcoreapp2.1/CosmosDbDataGenerator.csprojAssemblyReference.cache
/DbGenerator/obj/Debug/netcoreapp2.1/CosmosDbDataGenerator.dll
/DbGenerator/obj/Debug/netcoreapp2.1/CosmosDbDataGenerator.pdb
/DbGenerator/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/DbGenerator/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/DbGenerator/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/DbGenerator/obj/project.assets.json
/.vs/CosmosDbDataGenerator/v15/.suo
/.vs/CosmosDbDataGenerator/v15/Server/sqlite3/db.lock
/.vs/CosmosDbDataGenerator/v15/Server/sqlite3/storage.ide
/.vs/CosmosDbDataGenerator/v15/Server/sqlite3/storage.ide-shm
/.vs/CosmosDbDataGenerator/v15/Server/sqlite3/storage.ide-wal
/DbGenerator/.vs/CosmosDbDataGenerator/v15/.suo
/DbGenerator/.vs/CosmosDbDataGenerator/v15/Server/sqlite3/db.lock
/DbGenerator/.vs/CosmosDbDataGenerator/v15/Server/sqlite3/storage.ide
/DbGenerator/.vs/CosmosDbDataGenerator/v15/Server/sqlite3/storage.ide-shm
/DbGenerator/.vs/CosmosDbDataGenerator/v15/Server/sqlite3/storage.ide-wal
